@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0; padding: 0;}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

#topbar{
    background-color: #f5f5f5;
}

.container {
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.phone {
    width: 200px;
    float: left;
    padding: 15px 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.email {
    width: 758px;
    float: left;
    padding: 15px 10px;
}

.social {
    width: 140px;
    float: left;
}

.topbarWrapper {
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    color: #2b2b2b;
}
.social i:hover{
    color: #ff5200;
    transition: 0.3s;
}

.social a:first-child{
    border-left: 1px solid #ddd;
}

.phone i{
    color: #ff5200;
}

.email i{
    color: #ff5200;
}
